.card-product {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 20px;
  box-sizing: border-box;

  &:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    cursor: pointer;

    .card-product__overlay {
      display: block;
    }
  }
}

.card-product__fig {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-product__figcaption,
.card-product__price {
  max-width: 100%;
  margin-top: auto;
  padding-top: 24px;
  text-align: center;
}

.card-product__price {
  padding-bottom: 26px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #48494d;
}

.card-product__figcaption {
  padding-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.card-product__item--sale {
  .card-product__attributes {
    height: 55px;
  }

  &::before {
    content: "sale";
    position: absolute;
    left: -20px;
    top: 18px;
    width: 63px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(92.77deg, #9710e9 1.17%, #fd8d43 99.31%);
    transform: rotate(-90deg);
  }
}

.card-product__summer,
.card-product__winter {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 31px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-image: url("../img/snowflake.svg");
}

.card-product__summer {
  width: 31px;
  background-image: url("../img/sun.svg");
}

.card-product__attributes {
  height: 50px;
  padding-top: 18px;
  text-align: right;
  font-size: 0;
}

.card-product__overlay {
  text-decoration: none;
  color: #5f6063;
  display: none;
  position: absolute;
  z-index: 10;
  left: 20px;
  right: 20px;
  top: 122px;
  padding: 18px 10px;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);

  &:hover {
    color: rgba(95, 96, 99, 0.8);
    background-color: #ffffff;
  }

  &:active {
    opacity: 0.8;
  }
}

.card-product__presence {
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 60px;
  height: 40px;
  border-radius: 10px 0 0 0;
  background-color: #ff7931;

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 18px;
    bottom: 6px;
    width: 22px;
    height: 26px;
    background-repeat: no-repeat;
    background-image: url("../img/product-card.svg");
  }
}

.card-product__presence-text {
  padding-bottom: 7px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: lowercase;
  letter-spacing: 0.6px;
}

.card-product__presence-link {
  text-decoration: none;
  position: relative;
  z-index: 10;
  font-size: 16px;
  line-height: 19px;
  color: #ff7931;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    border: 1px solid rgba(255, 121, 49, 0.2);
  }

  &:hover::before {
    border: 1px solid rgba(255, 121, 49, 0.6);
  }

  &:active::before {
    border: 1px solid #ff7931;
  }
}

.card-product__presence--none {
  position: static;
  width: auto;
  height: auto;
  padding-top: 16px;
  padding-bottom: 25px;
  text-align: center;
  background-color: transparent;

  &::before {
    content: none;
  }
}

.card-product__item--sale {
  .card-product__attributes {
    height: 55px;
  }

  &::before {
    content: "sale";
    position: absolute;
    left: -20px;
    top: 18px;
    width: 63px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(92.77deg, #9710e9 1.17%, #fd8d43 99.31%);
    transform: rotate(-90deg);
  }
}
