.favorite {
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 10;
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/favorites.svg");

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.favorite--active,
.favorite:active {
  background-image: url("../img/favorites-active.svg");
}

.favorite--active:active {
  background-image: url("../img/favorites.svg");
}
