.no-js {
  .menu {
    position: static;
    flex-grow: 1;
    height: auto;
    width: auto;
    transform: translateX(0);
  }

  .page-header__container {
    flex-direction: column;
  }

  .page-header__menu-toggle {
    display: none;
  }

  .logo {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
  }

  .user-nav {
    justify-content: space-around;
    width: 100%;
    padding-top: 25px;
  }
}

.no-js .left-filters {
  @media (max-width: 767px) {
    display: block;
  }
}
