.wares {
  padding-top: 34px;
  padding-left: 50px;
  padding-right: 50px;

  .tabs__list {
    padding-top: 12px;
  }

  .tabs__item {
    margin-right: 36px;
  }

  .tabs__link {
    font-size: 15px;
    line-height: 18px;
    text-transform: lowercase;
    padding-bottom: 10px;
    color: #48494d;
  }

  .slick-arrow {
    top: 47%;
  }

  .slick-prev {
    left: -50px;
  }

  .slick-prev::before {
    background-image: url("../img/arrow-dark-left.svg");
  }

  .slick-next {
    right: -50px;
  }

  .slick-next::before {
    background-image: url("../img/arrow-dark-right.svg");
  }

  @media (max-width: 1023px) {
    .tabs__list-wrap {
      margin-bottom: 12px;
      overflow-x: auto;
      margin-left: -65px;
      margin-right: -65px;
    }

    .tabs__item {
      flex-shrink: 0;

      &:first-child {
        padding-left: 65px;
      }

      &:last-child {
        padding-right: 65px;
      }
    }

    @media (max-width: 767px) {
      padding-left: 9px;
      padding-right: 9px;

      .tabs__list-wrap {
        margin-left: -25px;
        margin-right: -25px;
      }

      .tabs__item {
        &:first-child {
          padding-left: 25px;
        }

        &:last-child {
          padding-right: 25px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding-left: 9px;
    padding-right: 9px;

    .tabs__list-wrap {
      margin-left: -25px;
      margin-right: -25px;
    }

    .tabs__item {
      &:first-child {
        padding-left: 25px;
      }

      &:last-child {
        padding-right: 25px;
      }
    }
  }
}

.wares__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 0 16px;
  }
}

.wares__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #48494d;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.wares__item.slick-slide,
.wares__list.slick-slider {
  display: flex;
}

.wares__list.slick-slider {
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;

  @media (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.wares__item.slick-slide {
  flex-direction: column;
  position: relative;
  width: 270px;
  height: 403px;
  padding-left: 18px;
  padding-right: 18px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.wares__item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  cursor: pointer;
}

.wares__item:hover .wares__overlay {
  display: block;
}

.wares__overlay {
  text-decoration: none;
  color: #5f6063;
  display: none;
  position: absolute;
  z-index: 10;
  left: 20px;
  right: 20px;
  top: 122px;
  padding: 18px 10px;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);

  &:hover {
    color: rgba(95, 96, 99, 0.8);
    background-color: #ffffff;
  }

  &:active {
    opacity: 0.8;
  }
}

.wares__fig {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wares__figcaption,
.wares__price {
  max-width: 100%;
  margin-top: auto;
  padding-top: 24px;
  text-align: center;
}

.wares__price {
  padding-bottom: 26px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #48494d;
}

.wares__attributes {
  height: 50px;
  padding-top: 18px;
  text-align: right;
  font-size: 0;
}

.wares__presence {
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 60px;
  height: 40px;
  border-radius: 10px 0 0 0;
  background-color: #ff7931;

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 18px;
    bottom: 6px;
    width: 22px;
    height: 26px;
    background-repeat: no-repeat;
    background-image: url("../img/product-card.svg");
  }
}

.wares__presence-text {
  padding-bottom: 7px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-transform: lowercase;
  letter-spacing: 0.6px;
}

.wares__presence-link {
  text-decoration: none;
  position: relative;
  z-index: 10;
  font-size: 16px;
  line-height: 19px;
  color: #ff7931;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    border: 1px solid rgba(255, 121, 49, 0.2);
  }

  &:hover::before {
    border: 1px solid rgba(255, 121, 49, 0.6);
  }

  &:active::before {
    border: 1px solid #ff7931;
  }
}

.wares__presence--none {
  position: static;
  width: auto;
  height: auto;
  padding-top: 16px;
  padding-bottom: 25px;
  text-align: center;
  background-color: transparent;

  &::before {
    content: none;
  }
}

.wares__item--sale {
  .wares__attributes {
    height: 55px;
  }

  &::before {
    content: "sale";
    position: absolute;
    left: -20px;
    top: 18px;
    width: 63px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(92.77deg, #9710e9 1.17%, #fd8d43 99.31%);
    transform: rotate(-90deg);
  }
}

.wares__summer,
.wares__winter {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 31px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-image: url("../img/snowflake.svg");
}

.wares__summer {
  width: 31px;
  background-image: url("../img/sun.svg");
}

.wares__footer {
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: center;

  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.wares__link-more {
  text-decoration: none;
  display: inline-block;
  width: 252px;
  padding: 17px 10px 14px;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: .9px;
  color: #bdbec2;
  background-color: #f0f0f4;

  &:hover {
    opacity: 0.6;
    color: #000000;
  }

  &:active {
    opacity: 0.3;
  }
}

.wares--suggestion {
  .wares__footer {
    display: none;
  }
}

.wares__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
}

@media (max-width: 767px) {
  .main--main-page .wares--suggestion .wares__footer {
    display: block;
  }

  .main--product-page .wares--suggestion {
    padding-top: 82px;
  }

  .main--product-page .wares__title {
    font-size: 30px;
    line-height: 36px;
  }

  .main--product-page .wares__not-mobile {
    display: none;
  }
}
