.wares {
  padding-top: 34px;
  padding-left: 50px;
  padding-right: 50px;

  .tabs__list {
    padding-top: 12px;
  }

  .tabs__item {
    margin-right: 36px;
  }

  .tabs__link {
    font-size: 15px;
    line-height: 18px;
    text-transform: lowercase;
    padding-bottom: 10px;
    color: #48494d;
  }

  @media (max-width: 1023px) {
    .tabs__list-wrap {
      margin-bottom: 12px;
      overflow-x: auto;
      margin-left: -65px;
      margin-right: -65px;
    }

    .tabs__item {
      flex-shrink: 0;

      &:first-child {
        padding-left: 65px;
      }

      &:last-child {
        padding-right: 65px;
      }
    }

    @media (max-width: 767px) {
      padding-left: 9px;
      padding-right: 9px;

      .tabs__list-wrap {
        margin-left: -25px;
        margin-right: -25px;
      }

      .tabs__item {
        &:first-child {
          padding-left: 25px;
        }

        &:last-child {
          padding-right: 25px;
        }
      }
    }
  }
}

.wares__container {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 0 16px;
  }
}

.wares__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #48494d;

  @media (max-width: 767px) {
    text-align: center;
  }
}
